# Turn rewriting on
RewriteEngine On
# Permitiendo archivos css
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
# Redirect requests to index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]